@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Noto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(231, 230, 224);
    background-image: url('./Adsız\ tasarım.png');  
    height: 100%;
    width: 80%;
    margin: auto;
}
header{
    width: 100%;
    height: 110px;
    background-color:rgb(158, 21, 21);
}
i{
    float: right;
    margin-right: 15px;
    margin-top: 50px;
}
i:hover{
opacity: 0.3;
cursor: pointer;
}
/*LOGO*/
.logo {
    height:110px;
    width:auto;
    margin-bottom: auto;
    position:relative;
}
/*ÜST BAR*/
.nav ul{
    margin-top: 45px;
    margin-right: 120px;   
    float: right;
}
.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;  
}
.nav ul li a{
    color:black;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Akaya Telivigala', cursive;
    background: rgb(231, 230, 224);
    transition: opacity 0.5s;
    border-radius: 20px;
    padding: 12px 12px;
}
.nav ul li a.active,
.nav ul li a:hover{
    background:rgb(231, 230, 224);
    border-radius: 20px;
    opacity: 0.8;
}
/************************************************/
main{
    height: auto;
    padding: 10px;
}

h1{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 2px;
}
.icerik{
    width: 30%;
    height: auto;
    display:inline-table;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgb(20,23,28,.15);
}
.rsm{
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
}
h5{
    /*float:right;*/
    font-size: 30px;
    margin-top: 20px;
    margin-right: 40px;
    font-family: 'Akaya Telivigala', cursive;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.icerik p{
    /*float:right;*/
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-indent: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
h2{
    font-size: 28px;
    font-family: 'Akaya Telivigala', cursive;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
video{
    margin-left: 15px;
}

/*FOOTER*/

footer{
    width: 78%;
    height:30px;
    background-color:rgb(158, 21, 21);
    color: rgb(231, 230, 224);
    margin: auto;
    padding: 15px;
    text-align:center;
    box-shadow: 0 2px 8px 2px rgb(20,23,28,.15);
    font-family: 'Noto Serif', serif;
}

/*GİRİŞ SAYFASI*/

h4{
    font-size: 40px;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
}
input{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 5px;
}
.outer-box {
    display: block;
    margin-top: 150px;
    margin-left: 25%;
    margin-bottom: 150px;
    border-radius: 5px;
    width: 50%;
    height: auto;
    box-shadow: 0 2px 8px 2px rgb(20,23,28,.15);
}

.login-box {
    padding: 1em 1em 1em 1em;
    margin: auto;
    text-align: center;
    display: block;
    width: 60%;
    height: auto;
}
#login {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 2.0em;
    border-radius: 4px;
    background-color: rgb(158, 21, 21);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding-top: 15px;
  }
  
  #forgot {
    display: block;
    width: 100%;
    margin-top: 1.0em;
    border-radius: 2px;
    color: #fff;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
  }

 /*NAV BAR DENEME*/
 nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: 100em;
}
nav ul{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav li{
    list-style-type: none;
}
nav li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(158, 21, 21);
    padding-left: 20px;
    display: block;
    font-family: 'Akaya Telivigala', cursive;
}
nav li a:hover{
    color: rgb(158, 21, 21);
}
h3{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(158, 21, 21);
    padding-left: 20px;
    display: block;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 28px;
}
.soup p{
    width: 60%;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    float: right;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    text-indent: 10px;
    text-align: justify;
}
#eat{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#baslik{
    font-size: 20px;
    text-align: left;
    margin-left: 440px;
}

